@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Workout Tracker</h1>
    <p>It's a free personalized workout tracker for tracking workout progress</p>
</div>
